.card {
    order: 1;
    display: flex;
    flex-flow: column;
    border: $card-border-width solid $dark-grey;
    box-shadow: $base-box-shadow;
    text-align: center;

    .card-title {
        font-size: $font-size-lg;
        order: 2;
    }

    .card-body {
        font-size: $base-font-size;
        order: 1;

        span {
            font-size: $base-font-size;
        }
    }
}

@include md {
    .card {
        order: 2;
    }
}