.connector {
    z-index: -1;
}

.connector-enabled {
    border-top: $connector-border-width solid $med-grey-border;
    border-bottom: $connector-border-width solid $med-grey-border;
    background-color: $med-grey;
}

.connector-disabled {
    border-top: $connector-border-width solid $dark-grey-border;
    border-bottom: $connector-border-width solid $dark-grey-border;
    background-color: $dark-grey;
}
