.sprite-btn {
    border-radius: $base-border-radius;
    border-style: none;
    width: $sprite-btn-width;
    height: $sprite-btn-height;
    max-width: $sprite-btn-width;
    max-height: $sprite-btn-height;

    &:hover {
        cursor: pointer;
    }
}

.btn-enabled {
    background: $blue-gradient-bg;
    background: linear-gradient($gradient-degree, $blue-gradient-fade $gradient-percent-1, $blue-gradient-base $gradient-percent-2, $blue-gradient-fade $gradient-percent-3);
}

.btn-disabled {
    background: $grey-gradient-bg;
    background: linear-gradient($gradient-degree, $grey-gradient-fade $gradient-percent-1, $grey-gradient-base $gradient-percent-2, $grey-gradient-fade $gradient-percent-3);
}

.sprite-img {
    width: $sprite-width;
    height: $sprite-height;
    display: block;
    border: 1px solid $dark-grey;
    margin: 0 auto;
}
