// Colors
$light-grey: #DDDDDD;
$dark-grey: #1A1C1D;
$med-grey: #313134;
$dark-grey-border: #1F2122;
$med-grey-border: #3F4042;
$black: #000000;
$white: #FFFFFF;
$dark-blue: #405f80;
$blue-gradient-bg: rgb(110,172,234);
$blue-gradient-fade: rgba(110,172,234,1);
$blue-gradient-base: rgba(41,63,85,1);
$grey-gradient-bg: rgb(78,78,78);
$grey-gradient-fade: rgba(78,78,78,1);
$grey-gradient-base: rgba(55,55,55,1);

$colors: ( 
    "dark-grey": $dark-grey, 
    "light-grey": $light-grey,
    "med-grey": $med-grey,
    "black": $black,
    "white": $white,
    "dark-blue": $dark-blue
    );

// Gradient
$gradient-degree: 0deg;
$gradient-percent-1: 0%;
$gradient-percent-2: 53%;
$gradient-percent-3: 55%;

// Padding and Margin
$base-padding: 0.25em;
$base-margin: 0.25em;
$sprite-button-padding: $base-padding * .5;

// Borders
$base-border-width: 1px;
$base-border-radius: 1px;
$connector-border-width: $base-border-width * 3;
$sprite-img-border-width: $base-border-width;
$card-border-width: $base-border-width;

$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// Font sizes
$base-font-size: 1em;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// Img sizes
$sprite-width: 50px;
$sprite-height: 50px;
$sprite-width-xs: 40px;
$sprite-height-xs: 40px;

// Button sizes
$sprite-btn-width: $sprite-width * 1.3;
$sprite-btn-height: $sprite-height * 1.3;
$sprite-btn-width-xs: $sprite-width-xs * 1.3;
$sprite-btn-height-xs: $sprite-height-xs * 1.3;

// Background Image
$bg-image: url('../images/talent-calc-bg-1920.png');

// Connector sizes
$connector-width: 1em;