// Reset
@import 'reset';
// import google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables and functions
@import 'variables';

// Base and layout
@import 'breakpoints';
@import 'grid';

// Colors
@import 'colors';

// Components
@import 'card';
@import 'spriteButton';
@import 'connector';

// Utilities
@import 'utilities';

body {
    font-family: "Roboto", sans-serif;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@include xs {
    #talents {
        order: 2;
    }

    #points {
        order: 1;
    }
}

@include lg {
    #talents {
        order: 1;
    }

    #points {
        order: 2;
    }
}