// Reset
@import 'reset';

// Variables and functions
@import 'variables';

// Base and layout
@import 'breakpoints';
@import 'grid';

// Colors
@import 'colors';

// Components
@import 'card';
@import 'spriteButton';
@import 'connector';

// Utilities
@import 'utilities';

body {
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@include xs {
    #talents {
        order: 2;
    }

    #points {
        order: 1;
    }
}

@include lg {
    #talents {
        order: 1;
    }

    #points {
        order: 2;
    }
}